header#page-hero {
  min-height: 18vh;
  padding: 1em 0;

  position: relative;
  background-color: var(--bgalt);
}

header#page-hero>div {
  position: relative;
}

header#page-hero>section {
  background-size: cover;
  background-position-y: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.42;
}

header#page-hero a {
  color: inherit;
}