#site-footer {
  color: #999;
  margin: 3em 1em;
}

#site-footer p {
  text-align: center;
}

#sitewide-quicklinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
  padding-top: 2em;
  border-top: 1px solid var(--border-color);
}