#site-footer {
  color: #999;
  margin: 3em 1em;
}

#site-footer p {
  text-align: center;
}

#site-footer .sitewide-quicklinks {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1em;
  justify-items: space-around;
  margin-bottom: 2em;
}