.hidden-on-mobile {
  display: none;
}

@media (min-width: 600px) {
  .hidden-on-mobile {
    display: block;
  }
}



#letters-from-heaven {
  position: relative;
  overflow: hidden;
}

#letters-from-heaven::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bgalt);
  background-image: url(/img/page/home.jpg);
  background-size: cover;
  background-position: -7em, center;
  opacity: 0.42;
}

#letters-from-heaven::after {
  position: absolute;
  z-index: -2;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--bgalt);
}

#letters-from-heaven a {
  color: inherit;
}

#letters-from-heaven .typography blockquote {
  border: none;
  padding: 0;
}

#letters-from-heaven .typography blockquote li {
  list-style-type: none;
}

#letters-from-heaven .typography blockquote li p {
  margin-bottom: 0;
}