#tab-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#tabs-bodies {
  font-size: 2vh;
  flex: 0 1 auto;
  overflow: hidden;
}

.slideshow {
  display: flex;
  height: 100%;
}

.panel {
  flex: 1 0 100%;
  height: 100%;
  position: relative;
}

.panel-body {
  overflow: auto;
  height: 100%;
  background-color: #000;
  transition: background-color ease-in-out .5s;
}

.panel:focus-within .panel-body {
  outline: none;
  background-color: #222;
}

.panel-body::-webkit-scrollbar {
  display: none;
}

.page-changer {
  opacity: 0;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  border: 0;
  outline: 0;
  padding: .5em .75em;

  font: inherit;
  color: #fff;
  background-color: #0001;
  cursor: pointer;

  transition:
    background-color ease-in-out .2s,
    opacity ease-in-out 2s;
}

.panel:focus-within .page-changer {
  opacity: 1;
}

.page-changer:hover {
  background-color: #0007;
}

.half-grid {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spaced-mini {
  margin: 0.5em 0;
}

.spaced-small {
  margin: 1em 0;
}

.spaced-medium {
  margin: 3em 0;
}

.spaced-big {
  padding: 7em 0;
}

.highlightable-line {
  opacity: .2;
  white-space: pre-wrap;
  align-self: normal;
}

.highlightable-line.active {
  opacity: 1;
}

.highlightable-line {
  clear: both;
  transition: opacity ease-in-out 250ms;
}

.two-cols .red {
  float: right;
  margin-left: 0.5em;
}

span.highlightable-line.active {
  text-shadow: 0 0 12px #ff0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#tab-bodies :is(h1, h2) {
  color: var(--blue-bg);
  margin: 1em 0;
}

.red {
  color: #f77;
}

#litany {
  background-image: url(./images/precious-blood-litany.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}