/* General */

html,
body {
    width: 100vw;
    height: 100vh;
    color-scheme: dark;
    overflow: hidden;
    font-size: 125%;
    white-space: pre-wrap;

    --blue: #5bf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Tabs */

#tabs-names {
    opacity: 0.1;
    transition: opacity 200ms ease-in-out;
}

#tabs-names:hover {
    opacity: 1;
}

#tabs-names {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tabs-names a {
    padding: 0.5em 1em;
    display: inline-block;
    text-decoration: none;
    color: #aaa;
    background: #222;
}

#tabs-names a:hover {
    color: #fff;
}

#tabs-names a.active {
    color: #fff;
    border-bottom: 2px solid var(--blue);
}

/* Slideshows */

.slideshow {
    display: grid;
    grid-auto-flow: column;
}

.panel {
    position: relative;
}

.panel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.panel-body {
    overflow: auto;
    height: 100%;
    background-color: #000;
    transition: background-color ease-in-out .5s;
}

.panel-body:focus {
    outline: none;
    background-color: #222;
}

.panel-body::-webkit-scrollbar {
    display: none;
}

.page-changer {
    opacity: 0;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    border: 0;
    outline: 0;
    padding: .25em .5em;
    color: #fff;
    background-color: #0001;
    font-size: 200%;
    cursor: pointer;

    transition:
        background-color ease-in-out .2s,
        opacity ease-in-out 2s;
}

.panel-body:focus~.page-changer {
    opacity: 1;
}

.page-changer:hover {
    background-color: #0007;
}

/* Layout */

.centered {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

h1,
h2 {
    color: var(--blue);
    margin: 1em 0;
}

.column {
    max-width: 33em;
}

.column.wide {
    max-width: 60em;
}

.column.wider {
    max-width: 70em;
}

.spaced-mini {
    margin: 0.5em 0;
}

.spaced-small {
    margin: 1em 0;
}

.spaced-medium {
    margin: 3em 0;
}

.spaced-big {
    padding: 7em 0;
}

.two-cols {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 .5em;
}

.two-cols>*:nth-child(2n) {
    text-align: right;
}

/* Specifics */

.left-align {
    justify-self: normal;
}

#litany {
    background-image: url(./images/precious-blood-litany.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.half-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

img {
    max-width: 50vw;
    max-height: 100vh;
}

.red {
    color: #f77;
}