html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #222 !important;
    color-scheme: dark;
    overflow: hidden;
    font-size: 125%;

    --blue: #5bf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#tabs-names {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tabs-names a {
    padding: 0.5em 1em;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background: #222;
}

#tabs-names a.active {
    border-bottom: 2px solid var(--blue);
}

.panel {
    position: relative;
}

.page-changer {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    border: 0;
    outline: 0;
    padding: .25em .5em;
    color: #fff;
    background-color: #0001;
    font-size: 200%;
    cursor: pointer;

    transition: background-color ease-in-out .2s;
}

.page-changer:hover {
    background-color: #0007;
}

.centered {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.panel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title {
    text-align: center;
    color: var(--blue);
}

.prayer {
    white-space: pre-wrap;
    max-width: 33em;
}

#litany {
    background-image: url(./images/precious-blood-litany.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    max-height: 100%;
}

#litany::-webkit-scrollbar {
    display: none;
}

#litany .litany-body {
    padding: 7em 0;
}

#litany p {
    max-width: 42em;
}

.prayer.wide {
    max-width: 60em;
}

p {
    margin: 2em 0;
}

.red {
    color: yellow;
}

.half-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-half {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.img-half img {
    max-width: 50vw;
    max-height: 100vh;
}

.slideshow {
    display: grid;
    grid-auto-flow: column;
}