.recents {
  padding: 2em 0;
}

.recents.alt {
  background: var(--bgalt);
}

.recents>*>ul {
  margin-bottom: 3em;
}

#posts {
  display: grid;
  gap: 1em;

  list-style-type: none;
  padding-left: 0;
}

@media (min-width: 400px) {
  #posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  #posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

#posts .post-box {
  padding: 1em;
  background: var(--post-snippet-bg);
  border-radius: 4px;
  box-shadow: var(--post-snippet-shadow);
}

#posts .post-box {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

#posts .post-box>* {
  display: block;
}

#posts .post-box .date {
  margin-bottom: 1em;
  font-size: 80%;
}

#posts .post-box .image {
  width: 100%;
  height: auto;
}

#posts .post-box .excerpt>*:last-child {
  margin-bottom: 0;
}

.quicklinks {
  list-style-type: none;
  padding-left: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 1em;
}

.quicklinks li {
  display: inline;
}

.quicklinks a.link {
  width: 100px;
  height: 100px;
  display: inline-grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 75ms ease-in transform;
}

.quicklinks a.link:hover {
  transform: scale(1.15);
}

.quicklinks a.link:hover {
  text-decoration: underline;
}

.quicklinks a.link:hover>span {
  background: #0007;
  opacity: 1;
}

.quicklinks a.link>span {
  background: #0003;
  padding: 7px;
  transition: 75ms ease-in opacity;
  opacity: 0;
  text-shadow: 0px 1px 3px #000;
}



#featured-books-area {
  background: var(--bgalt);
  padding: 1em 0;
}

#featured-books-container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
}

#featured-books {
  padding-left: 0;
  list-style-type: none;

  display: grid;
  gap: 1em;
}

@media (min-width: 450px) {
  #featured-books {
    grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  }
}

.featured-book {
  padding: 0 1em 1em;
}

.featured-book a {
  color: inherit;
}

.featured-book,
.featured-book>* {
  position: relative;
}

.featured-book .thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--bgalt);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.featured-book p {
  margin: 0;
}