.admin-button {
  border: 1px solid red;
  text-decoration: none;
  padding: 0.25em 0.5em;
  margin: 1em 0;
  display: inline-block;
  border: 1px solid #17f;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}