#home-hero {
  box-sizing: border-box;

  background-size: cover;
  background-position-y: center;
  height: 230px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  padding: 1em;
  align-content: center;
  justify-content: center;
}

@media (min-width: 600px) {
  #home-hero {
    height: 335px;
  }
}

#home-hero {
  font-family: "David Libre", serif;
}

#home-hero h1 {
  color: inherit;
  margin-bottom: 7px;
  margin: 0;
}

#home-hero a {
  color: inherit;
  text-decoration: underline;
}

#home-hero p {
  font-variant: small-caps;
  margin-bottom: 0;
  margin: 0;
}

#home-hero>div {
  color: white;
  font-size: 125%;
  text-shadow: 0px 1px 7px #000;
}

@media (min-width: 600px) {
  #home-hero>div {
    font-size: 200%;
  }
}

#home-hero>div>div {
  display: inline-block;
  background: #0007;
  padding: 1em;
}

.home .typography blockquote li {
  list-style-type: none;
}

.home .typography blockquote li p {
  margin-bottom: 0;
}

#featured-books-area {
  background: var(--bgalt);
  padding: 3em 0;
}

#featured-books-container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
}

#featured-books {
  padding-left: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
}

@media (min-width: 450px) {
  #featured-books {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  #featured-books {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1050px) {
  #featured-books {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1350px) {
  #featured-books {
    grid-template-columns: repeat(5, 1fr);
  }
}

.featured-book .thumb {
  margin-bottom: 1em;
  width: 100%;
  height: 10em;
  background-position: center;
  background-size: cover;
}