.typography blockquote {
  border-left: 3px solid var(--border-color);
  padding-left: 1em;
}

.typography blockquote>p {
  text-indent: 1em;
}

.typography code {
  font: inherit;
  color: inherit;
  font-variant: small-caps;
}

.typography p {
  hyphens: auto;
  text-align: justify;
}

.typography :is(ol, ul) p:first-child {
  text-indent: 2.5em;
}

.typography :is(ol, ul) p {
  text-indent: 1em;
  margin-left: -2em;
}

.typography :is(ol, ul) ::marker {
  font-weight: bold;
  color: var(--bold-color);
}