html,
body,
main {
  width: 100vw;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 60% 1fr;
  position: relative;
}

#words {
  column-count: 1;
}

#words span {
  outline: 1px solid #333;
  padding: 0px 3px;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
}

#saved {
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: #333;
  padding: 1em;
}