html {
  font-size: 14px;
  color: #333;
  --border-color: #d3dde8;
  --bold-color: #000;
  --bgalt: #f0f0f0;
  --post-snippet-bg: #fff;
  --post-snippet-shadow: 0px 1px 5px #7772;
  --blue-bg: #2af;
  --admin-border-color: var(--blue-bg);
  --admin-bg-color: #def;
  --disclaimer-border-color: var(--blue-bg);
  --disclaimer-bg-color: #def;

  --input-bg: #fff;
  --input-color: #000;
  --input-bg-active: #0001;
}

html.dark-mode {
  color-scheme: dark;

  background: #111;
  --bgalt: #000;
  color: #ccc;
  --border-color: #2d343c;
  --bold-color: #fff;
  --post-snippet-bg: #111;
  --post-snippet-shadow: 0px 0px 2px #fff7;
  --blue-bg: #06f;
  --admin-border-color: var(--blue-bg);
  --admin-bg-color: #004;
  --disclaimer-border-color: var(--blue-bg);
  --disclaimer-bg-color: #004;

  --input-bg: #000;
  --input-color: #fff;
  --input-bg-active: #fff1;
}

/* General resets and fixes */

body {
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6, b, strong) {
  color: var(--bold-color);
}

a {
  color: #19f;
}

hr {
  height: 1px;
  background-color: var(--border-color);
  border: 0;
}

input[type=text] {
  padding: 0.5em;
  background-color: var(--bgalt);
  color: inherit;
  border: none;
  outline: 1px solid var(--border-color);
  box-sizing: border-box;
  width: 100%;
}

input[type=text]:focus {
  outline: 1px solid var(--blue-bg);
  background-color: var(--bgalt);
}

@media screen and (max-width: 767px) {
  input[type=text] {
    font-size: 16px;
  }
}