#books-filters {
  font-family: system-ui;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin: 1em 0;
  padding: 0 0.5em;
}

#books-filters .radios {
  display: flex;
  gap: 1em;
}

input[name=bookstars]+svg {
  height: 10px;
  color: goldenrod;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: visible;
  opacity: 0.25;
}

input[name=bookstars].lit+svg {
  opacity: 1;
}

#books-filters .label {
  opacity: 0.5;
  font-variant: small-caps;
}