#books-filters {
  font-family: system-ui;
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin: 1em 0;
  padding: 0 0.5em;
}

#books-filters .label {
  opacity: 0.5;
  font-variant: small-caps;
}

#books-filters .rating-star {
  color: var(--blue-bg);
}