#tabs-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1em;
}

#tabs-buttons button {
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  font: inherit;
  background: transparent;
  padding: 0em;
}

#tabs-buttons button.active {
  border-bottom-color: var(--blue-bg);
}