.three-split {
  display: grid;
  gap: 1em;
}

@media (min-width: 600px) {
  .three-split> :nth-child(1) {
    grid-area: a;
  }

  .three-split> :nth-child(2) {
    grid-area: b;
  }

  .three-split> :nth-child(3) {
    grid-area: c;
  }

  .three-split {
    grid-template-areas:
      'a b'
      'a c';
    gap: 3em;
  }
}

@media (min-width: 1150px) {
  .three-split {
    grid-template-areas: 'a b c';
    gap: 3em;
  }
}