#site-header {
  background: #1a1f3333;
  padding: 0 0.5em;
}

#site-header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 0.25em;
}

#site-header nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-variant: small-caps;
  padding: 1em;
  margin-left: -1em;
  display: inline-block;
}

#site-header nav a:hover {
  background: #20294e;
}