form {

  width: 33em;
  height: 100vh;
  margin: 0 auto;
  padding: 2em 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1em;

  input,
  button {
    flex: 0 0 auto;
  }

  textarea {
    flex: 1 0 auto;
  }

}
