@font-face { font-family: "David Libre"; font-weight: 400; src: url('/font/DavidLibre-Regular.ttf'); }
@font-face { font-family: "David Libre"; font-weight: 600; src: url('/font/DavidLibre-Medium.ttf'); }
@font-face { font-family: "David Libre"; font-weight: 700; src: url('/font/DavidLibre-Bold.ttf'); }

@font-face { font-family: "Martel"; font-weight: 200; src: url('/font/Martel-ExtraLight.ttf'); }
@font-face { font-family: "Martel"; font-weight: 300; src: url('/font/Martel-Light.ttf'); }
@font-face { font-family: "Martel"; font-weight: 400; src: url('/font/Martel-Regular.ttf'); }
@font-face { font-family: "Martel"; font-weight: 600; src: url('/font/Martel-SemiBold.ttf'); }
@font-face { font-family: "Martel"; font-weight: 700; src: url('/font/Martel-Bold.ttf'); }
@font-face { font-family: "Martel"; font-weight: 800; src: url('/font/Martel-ExtraBold.ttf'); }
@font-face { font-family: "Martel"; font-weight: 900; src: url('/font/Martel-Black.ttf'); }
