ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-top: 3em;
}

ul.share-buttons li {
  display: inline;
  margin-right: 0.2em;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img {
  width: 32px;
}