ul#snippets-all {
  padding-left: 0;
}

ul#snippets-all>li {
  list-style-type: none;
}

ul#snippets-all>li ul {
  padding-left: 20px;
}

ul#snippets-all>li li {
  list-style-type: disc;
}

ul#snippets-all h4 {
  margin-top: 2em;
}

#search-results li:not(:last-child) {
  margin-bottom: 1em;
}