.all-blog-posts {
  display: grid;
  gap: 1em;
  list-style-type: none;
  padding-left: 0;
}

@media(min-width: 600px) {
  .all-blog-posts .post-row {
    display: grid;
    gap: 1em;
    grid-template-columns: 50% 50%;
  }
}

.all-blog-posts .post-row:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.all-blog-posts .post-row>* {
  display: inline-block;
  margin-bottom: 1rem;
}

.all-blog-posts .post-row>a:first-child {
  font-size: 0;
}

.all-blog-posts .post-row .date {
  display: block;
  margin-bottom: 1em;
  font-size: 80%;
}

.all-blog-posts .post-row .image {
  max-width: 100%;
}

.all-blog-posts .post-row .excerpt>*:last-child {
  margin-bottom: 0;
}