.content>h1:first-child {
  margin-bottom: 0;
}

.content p.date {
  font-size: 80%;
  margin-bottom: 2em;
}

.comment-form {
  border-top: 1px solid var(--border-color);
  padding-top: 1em;
}

.comment {
  border-top: 1px solid var(--border-color);
  padding-top: 1em;
}

form {
  display: grid;
  gap: 0.5em;
}

form :read-write {
  background-color: inherit;
  padding: 0.5em;
  width: 100%;
}

form button {
  background-color: var(--admin-bg-color);
  padding: 0.5em 1em;
}

form :is(:read-write, button, input[type=file], select) {
  border: 1px solid var(--admin-border-color);
  background: inherit;
  color: inherit;
  font: inherit;
  outline: none;
}

form textarea {
  min-height: 10em;
}

form :read-write.monospace {
  font-family: monospace;
}